{% extends "base.html" %}
{% block content %}



<style>

.log{
  width: 20%!important;
  min-width: 300px!important;
  background-color: #222!important;
  border-radius: 25px 25px !important;
 margin-top: auto!important;
 margin-bottom: 5em!important;  
 -webkit-filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.466));
  filter: drop-shadow(8px 8px 10px  rgba(0, 0, 0, 0.466));
}  
h1{

  color: aliceblue!important;
}
</style>

<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="container  jumbotron log ">

    <p>

      <img src="{{ url_for('static', filename='logo1.png') }}" alt="TNRP" height="100px">
      <br>
      <h1>T.N.R.P</h1>

    </p>

    <div class="container">
      <a type="button" class="btn btn-info" href="{{ url_for('login') }}">log-in</a>
      <hr>

      <a type="button" href="{{ url_for('register') }}" class="btn btn-info">Sign-up</a>
      <hr>
    </div>
  </div>
  {% endblock content %}